# Database connection URL
DATABASE_URL=postgresql://user:password@localhost:5432/database

# Email client
EMAIL_ENABLED=false
EMAIL_PROVIDER=log
EMAIL_FROM=no-reply@pb138.local
EMAIL_SMTP_HOST=smtp.example.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_SECURE=false
EMAIL_SMTP_USER=your-smtp-user
EMAIL_SMTP_PASS=your-smtp-password
